<div class="cookie-banner" [class.visible]="isVisible">
  <div class="cookie-content">
    <p>
      Se solicita aceptar el uso de cookies para personalizar el sitio, mostrar anuncios y medir su efectividad en aplicaciones y sitios web, incluidas redes sociales. Tambien se ofrece la opcion de ajustar preferencias o rechazar el uso de cookies. Para obtener más información, visite en nuestra
      <!-- Aquí agregamos el enlace para redirigir al usuario -->
      <a href="javascript:void(0)" (click)="goToCookiesPolitics()">Políticas de Cookies</a>

    </p>
  </div>
  <div class="cookie-actions">
    <a class="cookie-link" (click)="openSettings()">Configuración de Cookies</a>
    <button mat-raised-button color="warn" (click)="rejectNonNecessary()">Rechazar no necesarias</button>
    <button mat-raised-button color="primary" (click)="acceptAll()">Aceptar todas</button>
  </div>
</div>

