* {
  box-sizing: border-box;
}

.politics-container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto; /* Centrar el contenedor */
  padding: 20px;
  text-align: left; /* Alinear texto a la izquierda */
  margin-bottom: 150px;
}

.politics-container h1 {
  margin-bottom: 20px;
  color: #01549B;
  font-size: 24px;
  text-align: center;
}

.politics-container div {
  margin-bottom: 10px; /* Reducir el espacio entre políticas */
  padding: 0; /* Eliminar relleno de cada cuadro */
}

.politics-container h2 {
  margin: 0 0 10px; /* Reducir márgenes */
  font-size: 24px;
  color: #01549B;
}

.politics-container p {
  margin: 0 0 20px; /* Reducir espacio inferior */
  font-size: 16px;
  color: #626387;
}

.dialog-image {
  width: 100%;
  max-height: 380px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
@media (max-width: 1300px) {
  .politics-container {
    margin-bottom: 180px;
  }
}

@media (max-width: 960px) {
  .politics-container {
    margin-bottom: 250px;
  }
}
@media (max-width: 768px) {
  .politics-container {
    padding: 10px;
    margin-bottom: 300px;
  }

  .politics-container h1 {
    font-size: 20px;
  }

  .politics-container h2 {
    font-size: 18px;
  }

  .politics-container p {
    font-size: 14px;
  }

  .dialog-image {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .politics-container h1 {
    font-size: 18px;
  }
  .politics-container {
    margin-bottom: 450px;
  }
  .politics-container h2 {
    font-size: 16px;
  }

  .politics-container p {
    font-size: 12px;
  }
}
