mat-table {
    width: 100%; 
    overflow-x: auto; 
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color:#01549B;
  }
  table {
    width: 100%; 
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  button {
    margin-right: 8px;
  }
  
  
  @media (max-width: 768px) {
    mat-header-cell, mat-cell {
      font-size: 14px; 
    }
  
    mat-header-cell {
      font-weight: bold;
    }
  
    h2 {
      font-size: 20px;
      margin-bottom: 16px;
    }
  
    button {
      width: 100%; 
      margin: 8px 0; 
    }
  
    .mat-paginator {
      font-size: 14px; 
    }
  }
  
  
  @media (max-width: 480px) {
    mat-header-cell, mat-cell {
      font-size: 12px; 
    }
  
    .mat-elevation-z8 {
      padding: 0; 
    }
  
    table {
      font-size: 12px; 
    }
  
    button {
      font-size: 16px; 
    }
  }
  