* {
  box-sizing: border-box;
}

h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #01549B;
  }

  table mat-cell {
    color: #626387; 
  }

  table mat-header-cell {
    color: #01549B; 
    font-weight: bold;
  }
  
  
  button[mat-raised-button] {
    margin-bottom: 16px;
  }
  
  .home {
    margin-right: 8px;
  }
  
  .mat-elevation-z8 {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 16px;
  }
  
  
  @media (max-width: 768px) {
    .mat-elevation-z8 {
      overflow-x: scroll; 
    }
  
    table mat-header-cell, table mat-cell {
      padding: 8px;
      font-size: 14px; 
    }
  
    h2 {
      font-size: 20px;
    }
  
    button[mat-raised-button] {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }
  
  
  @media (max-width: 480px) {
    h2 {
      font-size: 18px;
    }
  
    button[mat-raised-button] {
      font-size: 12px;
      margin-bottom: 8px;
    }
  
    table mat-header-cell, table mat-cell {
      font-size: 12px; 
    }
  
    mat-paginator {
      font-size: 12px;
    }
    
  }
  