<mat-card>
    <h2>{{ isEditMode ? 'Edit Politic' : 'New Politic' }}</h2>
    <form [formGroup] = "politicForm" (ngSubmit)="onSubmit()">
  
      <mat-form-field class="full-width">
        <mat-label>Titulo de Politica</mat-label>
        <input matInput formControlName="title" required />
        <mat-error *ngIf="politicForm.get('title')?.invalid">
          Titulo es requerido (maximo 100 caracteres).
        </mat-error>
        <mat-error *ngIf="politicForm.get('title')?.hasError('whitespace')">
          Titulo no puede estar vacio o solo contener espacios.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="description" required />
        <mat-error *ngIf="politicForm.get('description')?.invalid">
          Descripcion es requerida (maximo 1000 caracteres).
        </mat-error>
        <mat-error *ngIf="politicForm.get('description')?.hasError('whitespace')">
          Descripcion no puede estar vacia o contener solo espacios.
        </mat-error>
      </mat-form-field>
      
      <div class="form-actions">
        <button  mat-flat-button color="warn" type="submit" [disabled]="politicForm.invalid">
          {{ isEditMode ? 'Update Changes' : 'Add Politic' }}
        </button>
        <button mat-raised-button color="warn" (click)="router.navigate(['/layout/politics-edit'])" type="button">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card>