<mat-card>
  <h2>{{ isEditMode ? 'Edit Cookie' : 'New Cookie' }}</h2>
  <form [formGroup]="cookieForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="full-width">
      <mat-label>Nombre de la Cookie</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="cookieForm.get('name')?.invalid">
        Nombre requerido (maximo 100 caracteres).
      </mat-error>
      <mat-error *ngIf="cookieForm.get('name')?.hasError('whitespace')">
        Name cannot be empty or contain only spaces.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput formControlName="description" required />
      <mat-error *ngIf="cookieForm.get('description')?.invalid">
        Descripcion es requerida (maximo 1000 caracteres).
      </mat-error>
      <mat-error *ngIf="cookieForm.get('description')?.hasError('whitespace')">
        Descripcion no puede estar vacia o contener solo espacios.
      </mat-error>
    </mat-form-field>

    <div class="checkbox-container">
      <div class="checkbox-item">
        <mat-label>Requerido?</mat-label>
        <mat-checkbox formControlName="required"></mat-checkbox>
      </div>
    </div>

    <div class="form-actions">
      <button mat-flat-button color="warn" type="submit" [disabled]="cookieForm.invalid">
        {{ isEditMode ? 'Update Changes' : 'Add Cookie' }}
      </button>
      <button mat-raised-button color="warn" (click)="router.navigate(['/layout/cookies-edit'])" type="button">
        Cancelar
      </button>
    </div>
  </form>
</mat-card>
