/* style.css */
body.home {
  display: block;
  height: 100vh;
  background-image: url('/assets/Fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}