/* style.css */
body{
  font-family: "Roboto", serif;
}
.error-feedback{
  color: red;
  font-size: 0.9rem;
  margin: 0.3 rem !important;
  margin-top: 0.1 rem !important;
}
.text-success {
  color:  #01549B !important;
}
.btn-success {
  background-color: #0096DB !important;
  border-color: #0096DB !important;
}
.bg-success {
  background-color: #a1d1e9 !important;
}

body.home {
  display: block;
  height: 100vh;
  background-image: url('/assets/Fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  width: 620px !important;
}

.cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: var(--mat-dialog-container-max-width, 620px) !important;
  min-width: var(--mat-dialog-container-min-width, 280px);
}

.politics-container {
  margin-bottom: 100px;
}

.page-container{
  margin-bottom: 140px;
}
.cookies-list-container{
  margin-bottom: 140px;
}
@media (max-width: 1300px){
  .cookie-banner{
    flex-direction: column;
  }
}
.cookie-banner{
  z-index: 20;
}
@media (max-width: 820px) {
  .politics-container {
    margin-bottom: 250px; /* Ajusta el margen según tus necesidades */
  }
  .page-container{
    margin-bottom: 400px;
  }
  .cookies-list-container{
    margin-bottom: 400px;
  }
}

@media (max-width: 768px) {
  .politics-container {
    margin-bottom: 300px; /* Ajusta el margen según tus necesidades */
  }
}

/* Estilo para pantallas aún más pequeñas (ejemplo: menos de 480px) */
@media (max-width: 480px) {
  .politics-container {
    margin-bottom: 400px; /* Margen reducido para pantallas muy pequeñas */
  }
  .cdk-overlay-pane.mat-mdc-dialog-panel {
    width: 100% !important;
    height: 100% !important;
  }
  .mat-mdc-dialog-actions.mat-mdc-dialog-actions-align-end, .mat-mdc-dialog-actions[align=end] {
    justify-content: flex-end;
  }
  
}

